@page

@{
    ViewData["Title"] = "Home page";
}

<div id="taxiUI-template">
    <div>
        <h1>NY Taxi Fare Prediction</h1>
        <hr>
        <div>
            <label><b>Vendor Id</b></label>
            <select id="vendorId">
                <option v-for="vendorId in vendorIds">{{vendorId}}</option>
            </select>
            <label><b>Rate Code</b></label>
            <select id="rateCode">
                <option v-for="rateCode in rateCodes">{{rateCode}}</option>
            </select>
            <label><b>Payment Types</b></label>
            <select id="payType">
                <option v-for="payType in payTypes">{{payType}}</option>
            </select>
            <label><b>Number Passengers</b></label>
            <select id="numPass">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
            <label for="tripDis"><b>Trip Distance</b></label>
            <input type="text" placeholder="in Miles" id="tripDis" required>
            <button type="button" id="btnSubmit" class="btn btn-sm btn-primary" onclick="getPrediction()">Submit</button>
        </div>
    </div>
</div>

<div class="clearfix"></div>

<div id="result"></div>



<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.2/dist/vue.js"></script>

<script>
    Vue.config.devtools = true;

    var vm = new Vue({
        el: '#taxiUI-template',
        data() {
            return {
                vendorIds:  [],
                rateCodes:  [],
                payTypes:   []
            };
        },
        mounted: function () {
            axios.get('/api/LoadData', {
            })
                .then(function (response) {
                    vm.vendorIds = response.data.vendors;
                    vm.rateCodes = response.data.rates;
                    vm.payTypes = response.data.payTypes;
                })
                .catch(function (error) {
                    alert(error);
                });
        }
    });


    function getPrediction() {

        let vendorId = $("#vendorId").val();
        let rateCode = $("#rateCode").val();
        let numPass = $("#numPass").val();
        let tripDis = $("#tripDis").val();
        let payType  = $("#payType").val();

        if (!tripDis){
            $("#result").html("Please enter a value for trip distance").addClass('text-danger');
            return;
        }

        axios.post('/api/GetPrediction', {
            vendorId: vendorId,
            rateCode: rateCode,
            passengerCount: numPass,
            tripDistance: tripDis,
            paymentType: payType
        })
            .then(function (response) {

                $("#result").html("Predicted Fare Amount is: $" + response.data).removeClass("text-danger");

            })
            .catch(function (error) {
                alert(error);
            });
    }

</script>
